.task2 {
    width: 25%;
    margin: 0 auto;
}
.deleteB {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.mainBlock {
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

.mainBlock.bef:before {
    content: 'МІЙ ХІД!';
    font-size: 30px;
    background-image: url("images/242-2429795_guild-wars-2-the-game-professions-badaling.png");
}
.mainBlock.befV:before {
    content: 'VICTORY!';
}
.mainBlock.befN:before {
    content: 'Готуйся програти наступного разу!';
    font-size: 18px;
}
.mainBlock:before {
    content: "";
    color: red;
    height: 300px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 370px;
    display: block;
}
.mainBlock.aft:after {
    content: 'МІЙ ХІД!';
    font-size: 30px;
    background-image: url("images/d54nwzu-700f5727-cd01-4f1e-a1c9-266456df9b4b.jpg");
}
.mainBlock.aftV:after {
    content: 'VICTORY!';
}
.mainBlock.aftN:after {
    content: 'Наступного разу перемога буде за мною!';
    font-size: 18px;
}
.mainBlock:after {
    content: "";
    color: purple;
    height: 300px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 240px;
    right: 200px;
    display: block;
}
.botLine, .topLine, .midLine  {
    height: 100px;
    border: 1px solid black;
}
.topLine, .midLine {
    border-bottom: none;
}
.block1, .block2, .block4, .block5, .block7, .block8 {
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    width: 33.3%;
    border-right: 1px solid black;
    float: left;
}
.block3, .block6, .block9 {

    box-sizing: border-box;
    display: inline-block;
    width: 33.3%;
    height: 100px;
}
#gamee {
    display: block;
    width : 150px;
    margin: 0 auto;
}
.clasX {
    background-image: url('images/Xmark01.svg.png');
    background-size: 100% auto;
    background-position-y: 10px;
    background-repeat: no-repeat;
}
.classO {
    background-image: url('images/zavantajennia.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}
img {
    height: 300px;
    display: inline-block;
}








